#container_chat{
    margin: 5%;
    width: 90%;
    font-family: "Raleway", sans-serif;
    /*display: none;*/
}
.init{
    padding: 2px;
    padding-left: 5px;
    margin-bottom: 2px;
    background-color: #7a1897;
    padding: 10px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    color: white;
    border-radius: 40px 0px 40px 0px;
}
#icon_user{
    height: 40px;
    width: 40px;
}
#icon_chat{
    height: 40px;
    width: 40px;
}
#message_user{
    padding: 10px;
    background-color:#002fa7;
    font-size: 15px;
    padding: auto;
    border-radius: 40px 0px 40px 0px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
}
#reponse_chat{
    background-color: #7a1897;
    padding: 10px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border-radius: 40px 0px 40px 0px;
    display: inline-block;
}
.icon_send{
    height: 30px;
    width: 30px;
    
}
#question_input{
    height: 40px;
    width: 50%;
    display: inline-block;
    border: 1px solid #7a1897;
}
#poser_question_btn :hover{
    cursor: pointer;
}

#poser_question_btn{
    margin-top: 25px;
    border: none;
    width: 50px;
    height: 50px;
    background-color: #7a1897;
    border-radius: 90px 90px;
}
#chatbot{
    overflow: auto;
}


